:root {
  --red: #e20600; /* Define your red color here */
  --white: #ffffff; /* Define your white color here */
  --black: #000000; /* Define your black color here */
}

nav {
  background-color: var(--white); /* Using white color */
  color: var(--black); /* Using black color */
}

nav {
  background-color: var(--red); /* Using red color */
  color: var(--white); /* Using white color */
}

/* Path: f1/src/App.js */
.no-overflow {
  overflow: hidden;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
