:root {
  --red: #e20600;
  --white: #ffffff;
  --black: #000000;
}

nav {
  background-color: var(--white);
  color: var(--black);
}

nav {
  background-color: var(--red);
  color: var(--white);
}

.no-overflow {
  overflow: hidden;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.driver-image {
  width: 412px;
  height: 412px;
}
